<h1> Welcome to the Checkerboard </h1>

<div id="checkerboard-settings"> </div>

<div id="checkerboard"> </div>

<p> Create a checkerboard by submitting the dimensions you want.<p>
<p> After you submit the dimensions, a board will appear with an x-mark. <br />
You can control its movement by pressing the directional arrows on your keyboard.</p>

<script type="text/javascript"> 
  $(document).ready(function () {
     (new CheckerboardSetter());
  });
</script>
